* {
margin: 0px;
padding: 0px;
box-sizing:border-box;
font-family: 'poppins','sans-serif';
}

img{
    cursor:pointer;
}
a{
    text-decoration: none;
    color: black;
    /* width: 20px; */

}
.d-flex{
    display: flex;
   align-items: center;

}
nav{
    /* border: 2px solid red; */
    padding: 10px 20px;
    justify-content: space-between;
    box-shadow: 0 0 10px rgb(0,0, 0,.5);
    position:sticky;
    top:0;
    z-index: 100;
}

.nav-right img{
    width:25px;
    margin-right: 25px;
}

.nav-right .userimg{
    width:25px;
    border-radius: 50%;
}

.nav-left img  {
    width:25px;
    margin-right:25px ;
}

.nav-left .logo  {
    width:25px;
}
.nav-middle img {
width: 25px;

}

/* body{
    background-color: rgb(50, 47, 47);
} */

.nav-middle  {
    
    /* border: 2px solid red; */
    width: 50%;
    }

    .nav-middle .mic-class {
/*     
        border: 2px solid red; */
        width: 50px;
        }
       

    .search-box{
        width: 90%;
        border: 1px solid grey;
        border-radius: 50px;
        justify-content: space-evenly;

    }

    .search-box input{
        width: 90%;
        border:none;
        padding: .4rem;
        outline: none;
        margin-right: 20px;
        border-radius: 50px;

    }

    .search-box img{
       padding: 10px;
       width: 40px;
       /* border: 2px solid green; */
       border-radius: 50px;
    }

    .mic-class{
        /* border:2px solid red; */
        padding: 10px;
        width: 25;
        border-radius: 50%;
       
        /* border-radius: ; */
    }

.mic-div{
    /* border: 2px solid green; */
    width:50px ;
    height: 50px;
    justify-content: center;
}

.home-icon {
    width: 20px; 
    height: 20px;
    margin-right: 10px; 
}
.shorts-icon {
    width: 20px; 
    height: 20px; 
    margin-right: 10px; 
  }

  
.subscription-icon {
    width: 20px;
    height: 20px; 
    margin-right: 10px; 
  } 

  .sidebar{
    border: 2px solid red;
    width: 15%;
    height: 100vh;
    position: fixed;
    top:0 ;
    z-index: 50;
    padding-top: 80px;
    padding-left: 10px;
  }