* {
margin: 0px;
padding: 0px;
box-sizing:border-box;
font-family: 'poppins','sans-serif';
}

img{
    cursor:pointer;
}

.d-flex{
    display: flex;
   align-items: center;

}
nav{
    /* border: 2px solid red; */
    padding: 10px 20px;
    justify-content: space-between;
    box-shadow: 0 0 10px rgb(0,0, 0,.5);
    position:sticky;
    top:0;
}

.nav-right img{
    width:25px;
    margin-right: 25px;
}

.nav-right .userimg{
    width:25px;
    border-radius: 50%;
}

.nav-left img  {
    width:25px;
    margin-right:25px ;
}

.nav-left .logo  {
    width:25px;
}
.nav-middle img {
width: 25px;

}

.nav-middle  {
    
    /* border: 2px solid red; */
    width: 50%;
    }

    .nav-middle .mic-class {
/*     
        border: 2px solid red; */
        width: 27px;
        }
       

    .search-box{
        width: 90%;
        border: 1px solid grey;
        border-radius: 50px;
        justify-content: space-between;

    }

    .search-box input{
        width: 90%;
        border:none;
        padding: .4rem;
        outline: none;
        margin-right: 20px;
        border-radius: 50px;

    }

    .search-box img{
       padding: 10px;
       width: 40px;
       border: 2px solid green;
       border-radius: 50px;
    }

    .mic-class{
        border:2px solid red;
    }